/* לגרום לדף להיות מימין לשמאל בשביל העברית */

body {
    direction: rtl;
    text-align: right;
}

.landing-img {
    padding-top: 40px;
    background-image: url("../Images/LandingImage.jpg");
}

.nav-item {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.navbar-nav>li {
    padding-left: 25px;
    padding-right: 25px;
}

.login {
    background-color: rgb(82, 77, 77);
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Secular One', sans-serif;
    color: rgb(235, 210, 210);    
    padding-right: 15px;
    padding-left: 15px;
    height: 450px;
    width: 350px;
}

.dir-eng{
    direction: ltr;
    text-align: left;
}
