/* לגרום לדף להיות מימין לשמאל בשביל העברית */
body {
    direction: rtl;
    text-align: right;
}

.landing-img{
    height: 500px;
    padding-top: 150px;
    background-image: url("../Images/The window.jpg");
}


.nav-item{
    font-family: 'Amatic SC', cursive;
    font-size: 3em; 
    font-weight: bold;
    letter-spacing: 2.5px;
}

.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }