/* לגרום לדף להיות מימין לשמאל בשביל העברית */

body {
    direction: rtl;
    text-align: right;
    font-family: 'Amatic SC', cursive;
}

/* defult styling for page h1*/

h1 {
    font-size: 2.2em;
    font-weight: 900;
    color: rgb(235, 210, 210);
    text-align: center;
}

/* General change to english class for form use*/

.direction-english {
    direction: ltr;
    text-align: left;
    font-family: 'Kreon', serif;
}

/* user alert style */

.alert-danger {
    background-color: crimson;
    color: rgb(29, 22, 22);
}

/*--- All backround images for all pages------------------------*/

.landing-img, .user-img, .weekly-img, .teachers-img {
    padding-top: 35px;
    margin-bottom: auto;
    background-image: url("../Images/LandingImgOrigin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 3px;
    height: 70rem;
}

.user-img {
    background-image: url("../Images/P3010006.jpg");
}

.weekly-img {
    background-image: url("../Images/P3288273.jpg");
}

.teachers-img {
    background-image: url("../Images/P3010063.jpg");
}

/*--- NavBar CSS's------------------------*/

.nav-item {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.navbar-nav>li {
    padding-left: 25px;
    padding-right: 25px;
}

.login button, .user-buttons {
    font-size: 1.2em;
}

.modal-photo-gallery button {
    font-size: 0.9em;
}

/*--- Home page and login CSS's------------------------*/

.login {
    background-color: rgb(82, 77, 77);
    color: rgb(235, 210, 210);
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    max-height: 100%;
    width: 350px;
    font-size: 1.8em;
}

.login h1 {
    font-size: 1.5em;
}

#last-name, #fist-name {
    font-size: 1.3em;
    font-family: 'Kreon', serif;
}

/*--- User page and login CSS's------------------------*/

.user-buttons {
    margin-top: 20vh;
    margin-right: 10vh;
    color: rgb(235, 210, 210);
    margin: right;
    height: 400px;
    width: 280px;
}

/*--- Teachers page CSS's------------------------*/

.user-page h1, .teachers h1, .photo-gallery h1, .workshops h1, .weekly-activity h1 {
    background-color: rgb(82, 77, 77);
    font-weight: bold;
    font-size: 2.5em;
    height: 5%;
}

.teachers>.teachers-img>.card>img {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.teachers>.teachers-img>.card {
    width: 30rem;
    margin: right;
    font-size: 1.6em;
}

.teachers>.teachers-img>.card>.list-group {
    font-size: 1.2em;
}

/*--- Photo Gallery page CSS's------------------------*/

.photo-gallery {
    max-width: 60%;
    margin: auto;
}

.ng-isolate-scope.carousel>ol {
    padding: 0;
}

.photo-gallery-btn {
    margin-top: 2vh;
    margin-right: 2vh;
    color: rgb(235, 210, 210);
    margin: top;
    height: 60px;
    width: 200px;
    font-size: 1.3em;
}

.modal-photo-gallery {
    background-color: rgb(82, 77, 77);
    color: rgb(235, 210, 210);
    letter-spacing: 1.5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
    font-size: 1.5em;
}

.interval-input input {
    font-size: 0.8em;
    max-width: 25%;
}

/*--- Workshops page CSS's------------------------*/