<div class="landing-img jumbotron">
    <div class="login">
        <h1>כניסה לאתר למשתמש רשום</h1>
        <div class="alert alert-danger" role="alert" ng-show="invalidLogin">
            <strong>Invalid Login!</strong> incorrect email or password
        </div>
        <form>
            <div class="form-group dir-eng">
                <label for="email">Email:</label>
                <input type="email" class="ml-auto form-control" id="email" ng-model="email"
                    placeholder="Enter email address">
            </div>
            <div class="form-group dir-eng">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" ng-model="pwd" placeholder="Enter password">
            </div>
            <button type="button" class="btn btn-success btn-block" ng-click="login()">כניסה לאזור אישי</button>
        
            <span class="text-center btn-block"> או</span>
        <hr>
            <button type="button" class="btn btn-warning btn-block" ng-click="createAccount()">צור משתמש חדש</button>
        </form>
    </div>
</div>