<div class="modal-reset-psw">
    <div class="modal-header">
        <h3 class="rset-modal-title" id="modal-title">אפס סיסמא ואחרכך עשה שוב login</h3>
    </div>
        <p class = "rest-pw-txt">אחרי שלחצת על o.k המתן לקבלת מייל מאתר back4app. <br>
            אחרי כניסה לקישור שקבלת במייל ושינוי הסיסמא
         חזור לאתר שלנו ועשה מחדש login</p>
  
    <div class="form-group  direction-english">
        <label for="email">Email:</label>
        <input type="email" ng-init="" class="ml-auto form-control" id="email" ng-model="email"
            placeholder="Enter email address">
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>