<div class="photo-gallery">
  <h1> גלרית התמונות</h1>
  <div>
    <div class="photo-gallery">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" class="img-fluid">
          <div class="carousel-caption">
            <h4>Slide {{slide.id}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-info btn-block photo-gallery-btn" ng-click="openGalleryCtrl()">כניסה לעדכון
          גלריה</button>
      </div>
    </div>
  </div>