<div class="lior-img">
    <div class="tracher-text">
        <h1>אלינור שלזינגר</h1>
        <img class="teacher-info-img" src="Images/Eleanor_image1.jpg" alt="Card image cap">
        <h3> מתרגלת יוגה משנת 2008, איינגאר יוגה משנת 2011. תלמידתו של איל שפרוני.</h3>
        <hr>
        <h4>
            אל היוגה הגעתי בזמן לימודי בקונטיקט, ארה״ב, אי שם בתחילת שנות ה-2000.
            תרגלתי טיפין טיפין, לאורך
            שנים ולא באופן סדיר.
        </h4>
        <hr>
        <h4>
            התנסתי בשיטות שונות ובכל תקופה שתרגלתי בהתמדה נחשפתי להשפעות המיטיבות של
            היוגה על הגוף הפיזי כמו גם על הנפש.
            לא הגעתי מרקע של ריקוד או ספורט כלשהו והייתי לרוב התלמידה
            הנוקשה בכיתה.
            חייתי שנים על טייס גוף אוטומטי ותהיתי איך קרה שנתתי לעצמי להגיע למצב הזה.
        </h4>
        <hr>
        <h4>
            היו
            תקופות שתרגלתי פחות ותקופות שיותר אבל לאורך השנים כאשר הפנמתי את האושר והעושר שהיוגה מעניקה
            הפכתי יותר ויותר מסורה לה.
            למדתי להתחבר אל ולהכיר את גופי באופן אינטימי, למדתי שהיוגה היא מאגר
            אינסופי של חכמה ושבכוחה לשנות את החיים לטובה ולהאיר את הדרך הנכונה עבורי.
        </h4>
        <hr>
        <h4>
            כיום אני גרה עם משפחתי
            בקרית טבעון.מלמדת איינגאר יוגה אצל מורי איל שפרוני, ובאזור טבעון והסביבה (אינטרודוקטורי 2).
            בנוסף, אני עומלת על סיום כתיבת עבודת הדוקטורט שלי באוניברסיטת חיפה.
        </h4>
        <hr>
        <h4>
            מלמדת במרכז איינגאר יוגה זכרון יעקב, ובנוסף בקרית טבעון, רמת ישי ועמק יזרעאל.
        </h4>
        <button type="button" class="btn btn-success" ng-click="GoToTeachers()"> חזרה למורים</button>
        <button type="button" class="btn btn-success" ng-click="goToHomePage()">חזרה לדף הבית</button>
    </div>
   
</div>