<div class="lior-img">
    <div class="teacher-text">
        <h1>ליאור אבישי</h1>
        <img class="teacher-info-img" src="Images/LiorsFaceBookProfile.jpg" alt="Card image cap">
        <h4>
            אפשר לומר שהתנועה הפכה מקום לריפוי ושלווה עבורי מגיל מאוד צעיר .
        </h4>
        <h4>
            נולדתי בבית הילל וגדלתי כילדת טבע שקופצת בין הנחל במושב לדג על הדן אותו ייסד אבי והיה לביתי השני.
            את ילדותי ונעוריי חילקתי בין תנועה בית הספר למחול בתל חי לבין עבודה במפעל המשפחתי.

            את שירותי הצבאי זכיתי לחוות כצלמת צבאית, מפיקה ועורכת סרטים.
            כשהשתחררתי מן הצבא רקדתי בבית הספר למחול בבת דור.
        </h4>
        <hr>
        <ul>

            <li> 1998 - למדתי קורס מדריכות אירובי ועיצוב הגוף הראשון שנפתח בסטודיו b בתל אביב.</li>
            <li> 2000 - למדתי הוראת פילאטיס אצל תמר צח בתל אביב</li>
            <li>2001 - 2004 למדתי הוראת אשטנגה יוגה בקורס המורים הראשון של שמעון בן אבי והייתי האסיסטנטית הראשונה שלו
                כשלוש
                שנים
                .</li>
            <li> 2005 - למדתי כחצי שנה אצל אבי שיטת האשטנגה יוגה פאטבי גו׳יס במייסור, הודו.</li>
            <li> 2015 - למדתי עיסוי תאילנדי אצל אלפונס טראשל.</li>
            <li> 2006 ועד היום - מלמדת אשטנגה ויניאסה.</li>
        </ul>
        <hr>
        <h4>
            ב 2012 הגשמתי חלום ובעזרת ידיי הזהב של סלע בן זוגי בנינו את הסטודיו בגבעה, מקום חלומי בגבעות שייך אברק בקרית
            טבעון. 
            <hr>           
            תלמידה נצחית, ממשיכה להגשים חלומות ולהתפתח.
            אמא ליעל וראם ובת הזוג של סלע.
        </h4>
        <button type="button" class="btn btn-success" ng-click="GoToTeachers()"> חזרה למורים</button>
        <button type="button" class="btn btn-success" ng-click="goToHomePage()">חזרה לדף הבית</button>
    </div>
   
</div>