<div class="deltete-slide-modal">    
    <div class="row">
        <div class="delete-msg">
            את בטוחה שאת רוצה למחוק את התמונה מהמצגת?           
        </div>
<div>
    <img class="img-fluid" ng-show="imgToDelete" ng-src="{{imgToDelete}}" alt="new img">
</div>
        <hr>
        <div class="col-md-12">
            <button type="button" class="btn btn-danger float-right" ng-click="deleteConfirmed()"> מחק תמונה
            <button type="button" class="btn btn-info float-left" ng-click="deleteCancelled()"> בטל מחיקה
        </div>

    </div>
</div>