<div class="user-page">
    <div class="user-img jumbotron" ng-model="userFname">
        <h1> שלום {{userFname}} , הגעת לסטודיו של ליאור</h1>
        <form>
            <div class="form-group user-buttons">
                <button type="button" class="btn btn-success btn-block" ng-click="updateUserData()">עדכון פרטים אישיים</button>
                <button type="button" class="btn btn-success btn-block" ng-click="GoToUsersTable()">עדכון כול המשתמשים</button>             
                <button type="button" ng-show="multipleEntryTicket" class="btn btn-success btn-block" ng-click="">צפייה
                    בכרטיסיה</button>
        </form>
    </div>
</div>