<div class="users-img jumbotron">
    <table class="table-users">
        <thead class="thead-users">
            <tr>
                <th class="th-users">שם</th>
                <th class="th-users">אימייל</th>
                <th class="th-users">טלפון</th>
                <!-- <th class="th-users">עריכה</th>  -->
                <th class="th-users">מחיקה</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-users" ng-click="" ng-repeat="user in users">
                <td class="td-users small-cell">{{user.fullName}}</td>               
                <td class="td-users large-cell">{{user.copyOfEmail}}</td>
                <td class="td-users large-cell">{{user.phone}}</td> 
                <!-- <td class="td-users small-cell"><img src="Images/edit-button-256.png" alt="edit" ng-click="goToUpdateUser(user)" height="25px" width="25px"></td>   -->
                <td class="td-users small-cell"><img src="Images/trash-256.png" alt="trash" ng-click="goToDeleteUser(user)" height="25px" width="25px"></td>            
            </tr>
        </tbody>         
    </table>
    <div class="table-footer form-group">
            <button class="btn btn-border-green" type="button" ng-click="goToUserPage()">חזרה לדף משתמש</button>
            <button class="btn btn-border-green" type="button" ng-click="goToHomePage()">חזרה לדף הבית</button>
        </div> 
</div>