<div class="user-page">
    <div class="user-img jumbotron" ng-model="userFname">
        <h1> שלום {{userFname}} , הגעת לסטודיו של ליאור</h1>
        <form>
            <div class="form-group user-buttons">
                <button type="button" class="btn btn-success btn-block" ng-click="updateUserData()">עדכון פרטים
                    אישיים</button>
                <div ng-if="isAdmin" class="admin-only">
                    <br>
                    <button type="button" class="btn btn-success btn-block" ng-click="GoToUsersTable()">עדכון כול
                        המשתמשים</button>
                </div>
                <br>
                <button type="button" class="btn btn-success btn-block" ng-click="goToHomePage()">חזרה לדף הבית</button>
        </form>
    </div>
</div>