<div class="users-img jumbotron">
    <table class="table-users">
        <thead class="thead-users">
            <tr>
                <th class="th-users">שם</th>
                <th class="th-users">אימייל</th>
                <th class="th-users">טלפון</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-users" ng-click="" ng-repeat="user in users">
                <td class="td-users small-cell">{{user.fullName}}</td>               
                <td class="td-users large-cell">{{user.email}}</td>
                <td class="td-users large-cell">{{user.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>