<div class="row">
    <div class="col-md-12">
        <div class="form-group row direction-english">
            <label for="file">..בחר קובץ תמונה אחר לפעילות השבועית ןאז תוכל לשמור אותו</label>
            <input type="file" image-with-preview ng-model="img" accept="image/jpeg,image/png">
        </div>
        <hr>
    </div>
    <div class="choose-file">
        <img class="img-fluid" ng-show="img.src" ng-src="{{img.src}}" alt="new img">
    </div>
    <hr>
    <div class="modal-footer">
        <button class="btn btn-primary ml-auto" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning mr-auto" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>